<div>
    <h1>"¡Descubre el mundo de la cocina y despierta tu creatividad mientras aprendes algo nuevo y delicioso cada día! 🍳🧁🌮"</h1>
    <ul>
      <li>
        <a href="https://www.youtube.com/watch?v=kPIrV54ZuZU">
          <img src="./assets/image/cohete.png" alt="Smile and learn">
          Veamos un video de Cocina con los amiguitos de Smile and learn🌞
        </a>
      </li>
      <li>
        <a href="https://cocinaforkids.com/">
          <img src="./assets/image/carro.png" alt="Cocina for Kids">
          Recetas sanas y divertidas para ti 😊
        </a>
      </li>
      <li>
        <a href="https://www.juegosdechicas.com/juego/cocina-realista-pizzas">
          <img src="./assets/image/barbie.png" alt="Juegos de Chicas">
          Juguemos en la cocina🎮
        </a>
      </li>
    </ul>
  </div>
